<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif:ital,wght@1,100&family=Nova+Square&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="./styles/main.css"
		/>
		<script src="script.js"></script>
		<title>ToDo.me - Things for me to do</title>
	</head>
	<body>
		<main>
			<div class="title">
				<h1>ToDo.me</h1>
				<h2><em>things for me to do</em></h2>
			</div>
			<hr />
			<div class="add-task">
				<form
					action="/add-task"
					method="POST"
				>
					<input
						type="text"
						name="task"
						id="task"
						placeholder="Add Task here"
					/>
					<button><span class="material-symbols-outlined"> add </span></button>
				</form>
			</div>

			<ul class="tasks">
				<% if (locals.tasks.length > 0) { %> <% tasks.forEach((task, index) => { %>
				<li>
					<div class="task" id="task-<%= index %>">
						<div class="first-part">
							<input
								type="checkbox"
								name="task_complete"
								id="task-complete-<%= index %>"
							/>

							<label for="task-complete-<%= index %>"><%= task %></label>
						</div>
						<div class="buttons">
							<button class="edit-btn"  data-index="<%= index %>"><span class="material-symbols-outlined"> edit </span></button>
							<form
								action="/delete-task/<%= index %>"
								method="post"
							>
								<button><span class="material-symbols-outlined"> delete </span></button>
							</form>
						</div>
					</div>
					<form
						action="/edit-task/<%= index %>"
						method="post"
						class="edit"
						id="edit-form-<%= index %>"
					>
						<input
							type="text"
							name="edited_task"
							value="<%= task %>"
						/>
						<button type="submit"><span class="material-symbols-outlined"> save </span></button>
						<button id="close" class="close-btn" data-index="<%= index %>"><span class="material-symbols-outlined"> close </span></button>
					</form>
				</li>
				<% }) %> <% } %>
			</ul>
		</main>
	</body>
</html>
